<div class="card mb-4 box-shadow">
    <div class="card-body">
        <p-chart type="pie" [data]="pieChart" width="20vw" height="20vh"></p-chart>
    </div>
</div>
<div class="card mb-4 box-shadow">
    <div class="card-body">
        <p-chart type="doughnut" [data]="doughnutChart" width="20vw" height="20vh"></p-chart>
    </div>
</div>
<div class="card mb-4 box-shadow">
    <div class="card-body">
        <p-chart type="bar" [data]="barChart" width="20vw" height="20vh"></p-chart>
    </div>
</div>
